body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/***** Resets *****/
h1, h2, h3, h4, h5, h6, p, ul, th, td { margin: 0; padding: 0; }
ul { list-style: none; }
table { border-spacing: 0; }



/***** Input elements *****/
input[type="text"] {
  
  font-size: 20px;
  width: 70px;
  padding: 6px;
  border: 1px solid #999;
  border-radius: 2px;
}

input[type="submit"] {
  height: 37px;
  width: 90px;
  font-size: 14px;
  color: #fff;
  background: -webkit-gradient(linear,left top,left bottom,from(#50B7D1),to(#286DA3));
  border: 1px solid #51A0B3;
  font-family: inherit;
  font-weight: bold;
  text-shadow: 0 -1px 0 #000;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#66C7E5),to(#328FC9));
}

input[disabled] {
  opacity: 0.60;
}



/***** Layout *****/
table {
  margin: 0 auto;
}

.column {
  width: 130px;
}

.sidebar {
  width: 110px;
  color: #333;
  text-align: right;
  font-weight: bold;
  font-size: 14px;
}



/***** Stats section *****/
.player-stats {
  margin-top: 30px;
}

.player-stats th.column {
  font-size: 22px;
  padding-bottom: 16px;
  text-align: center;
}

.player-stats .sidebar {
  font-size: 14px;
  line-height: 28px;
  vertical-align: bottom;
}

.player-stats td.column {
  text-align: center;
  font-size: 28px;
}



/***** Score entry section *****/
.score-entry {
  margin: 30px 0;
}

.score-entry table {
  background: #F2FAFF;
  padding: 20px 0;
  border-radius: 8px;
  border: 3px solid #b0deff;
}

.score-entry input {
  display: block;
}

.score-entry input[type="text"] {
  margin: 0 auto;
}



/***** Score history section *****/
.score-history .sidebar {
  vertical-align: top;
}

.score-history .column {
  vertical-align: top;
  text-align: center;
}

.score-history .points, .score-history .date {
  line-height: 22px;
  vertical-align: baseline;
}

.score-history .points {
  color: #333;
  font-size: 14px;
}

.score-history .date {
  color: #ccc;
  font-size: 9px;
  text-align: left;
  padding-left: 4px;
}
