<!doctype html>
<html lang="en-us" ng:app='possedarts'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  
  <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/angular-0.10.6.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>
<body>
  <header>

  </header>
  <div role="main" ng:controller="MainCtrl">
    
    <div ng:controller="PlayerStatsCtrl">
      <ul>
        <li ng:repeat="player in players">
          <h1 ng:bind="player.name"></h1>
          <div class="stat">
            <h2>Max</h2>
            <span ng:bind="get14DayMax()"></span>
          </div>
          <div class="stat">
            <h2>Average</h2>
            <span ng:bind="get14DayMean()"></span>
          </div>
        </li>
      </ul>
    </div>
    
    <div ng:controller="ScoreEntryCtrl">
      <form ng:submit="submitScores()">
        <ul>
          <li ng:repeat="player in players">
            <span ng:bind="player.name"></span>
            <input type="text" ng:model="player.newScore">
          </li>
        </ul>
        <input type="submit">
      </form>
    </div>
    
    <div ng:controller="PlayerScoresListCtrl">
      <ul>
        <li ng:repeat="player in players">
          <span ng:bind="player.name"></span>
          <ul>
            <li ng:repeat="score in getScores()">
              <span ng:bind="score"></span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    
  </div>
  <footer>

  </footer>
</body>
</html>
