<div ng-controller="MainCtrl">
  <div ng-show="!_loading && players.length == 0">
    No players
  </div>

  <div class="player-stats" ng-controller="PlayerStatsCtrl">
    <table>
      <thead>
        <tr>
          <th class="sidebar left"></th>
          <th class="column" ng-repeat="player in players">{{player.name}}</th>
          <th class="sidebar right"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="average">
          <td class="sidebar left">Average</td>
          <td class="column" ng-repeat="player in players">
            <div>
              <span ng-show="!get14DayMean(player)">-</span>
              <span ng-bind="get14DayMean(player)" ng-show="!!get14DayMean(player)"></span>
              <span ng-bind-attr="{'data-rank' : '{{get14DayMeanRanking(player)}}'}" ng-show="!!get14DayMean(player)"></span>
            </div>
          </td>
          <td class="sidebar right"></td>
        </tr>
        <tr class="max">
          <td class="sidebar left">Max</td>
          <td class="column" ng-repeat="player in players">
            <div>
              <span ng-show="!get14DayMax(player)">-</span>
              <span ng-bind="get14DayMax(player)" ng-show="!!get14DayMax(player)"></span>
              <span ng-bind-attr="{'data-rank' : '{{get14DayMaxRanking(player)}}'}" ng-show="!!get14DayMax(player)"></span>
            </div>
          </td>
          <td class="sidebar right"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="score-entry" ng-controller="ScoreEntryCtrl">
    <form ng-submit="submitScores()">
      <table>
        <tbody>
          <td class="sidebar left">New Score</td>
          <td class="column" ng-repeat="player in players">
            <input type="text" ng-model="player.newScore" ng-model-instant ng-disabled="{{isPeformingRequest()}}">
          </td>
          <td class="sidebar right"><input type="submit" ng-disabled="{{players.length == 0 || isPeformingRequest()}}"></td>
        </tbody>
      </table>
    </form>
  </div>

  <div class="score-history" ng-controller="PlayerScoresListCtrl">
    <table>
      <tbody>
        <tr>
          <td class="sidebar left">History</td>
          <td class="column" ng-repeat="player in players">
            <table>
              <tbody>
                <tr ng-repeat="score in getScores(player)">
                  <td class="points" ng-bind="score.points"></td>
                  <td class="date" ps-pretty-date="score.date"></td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="sidebar right"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>